<!DOCTYPE html>
<html>
    <head>
        <title>
            Create an Account | &lt;Insert App Name Here&gt;
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    </head>
    <body class="formpage">
        <div class="centre">
            <h2>Create an Account</h2>
            <form>
                <div class="input-field">
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" placeholder="Enter a username" name="username">
                </div>
                <div class="input-field">
                    <label for="email">Email:</label><br>
                    <input type="email" id="email" placeholder="Enter your email address" name="email">
                </div>
                <div class="input-field">
                    <label for="password">Create Password:</label><br>
                    <input type="password" id="password" placeholder="Enter a password" name="password">
                </div>
                <div class="input-field">
                    <label for="repassword">Re-enter Password:</label><br>
                    <input type="password" id="repassword" placeholder="Re-enter the password" name="repassword">
                </div>
                <span class="submit-btn"><input type="submit" value="Submit"></span>
            </form>
            Already have an account? <a href="{{ url_for('login') }}">Log in</a>
            instead!
        </div>
    </body>
</html>
