{% extends "base.html" %}

{% block title %}Create an Account | Board Game Central{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/intro-styles.css') }}">
{% endblock %}

{% block body_class %}formpage{% endblock %}

{% block content %}
<div class="centre">
    <h2>Create an Account</h2>
    <form method="POST" action="{{ url_for('main.register') }}">
        {{ form.hidden_tag() }}

        <div class="input-field">
            {{ form.username.label }}<br>
            {{ form.username(placeholder="Enter a username") }}
        </div>

        <div class="input-field">
            {{ form.email.label }}<br>
            {{ form.email(placeholder="Enter your email address") }}
        </div>

        <div class="input-field">
            {{ form.password.label }}<br>
            {{ form.password(placeholder="Enter a password") }}
        </div>

        <div class="input-field">
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password(placeholder="Re-enter the password") }}
        </div>

        <span class="submit-btn">
            {{ form.submit() }}
        </span>
    </form>
    <p>Already have an account? <a href="{{ url_for('main.login') }}">Log in</a> instead!</p>
</div>
{% endblock %}
