<!DOCTYPE html>
<html>
    <head>
        <title>
            Forgot Password | &lt;Insert App Name Here&gt;
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/forgot.css') }}">
    </head>
    <body class="formpage">
        <div class="centre">
            <h2>Forgot Password</h2>
            <form>
                <p>Please enter the email address associated with your account.</p>
                <div class="input-field">
                    <label for="email">Email address:</label><br>
                    <input type="email" id="email" placeholder="Enter email address" name="email">
                </div>
                <span class="submit-btn"><input type="submit" value="Submit"></span>
            </form>
        </div>
    </body>
</html>
