{% extends "base.html" %}

{% block title %}Reset Your Password{% endblock %}

{% block content %}
<div class="centre">
  <h2>Reset Your Password</h2>
  <form method="POST" action="{{ url_for('main.reset_token', token=token) }}">
    <div class="input-field">
      <label for="password">New Password:</label><br>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="submit-btn">
      <input type="submit" value="Set New Password">
    </div>
  </form>
</div>
{% endblock %}
